<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.anyanghome.mapper.AgriculturalNewsMapper">

    <select id="selectAgriculturalNewsPage" resultType="com.example.anyanghome.pojo.entity.AgriculturalNews">
        SELECT *
        FROM agricultural_news
        WHERE is_enabled = 1
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
        ORDER BY is_top DESC, publish_date DESC
    </select>

</mapper>
