<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.anyanghome.mapper.AgriculturalProductMapper">

    <select id="selectAgriculturalProductPage" resultType="com.example.anyanghome.pojo.entity.AgriculturalProduct">
        SELECT *
        FROM agricultural_product
        WHERE is_enabled = 1
        ORDER BY sort_order ASC, create_time DESC
    </select>

</mapper>
